.productContainer {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  text-align: center;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column; /* Organize children in a column */
  align-items: center; /* Center-align children horizontally */
  overflow: hidden;
}

.productImage {
  width: 100%; /* Full width of the container */
  height: 400px; /* Fixed height */
  object-fit: contain; /* Scale down to fit, no cropping */
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 20px; /* Add some space between the image and the title */
  background-color: #f8f8f8; /* Background color if the image is smaller than the container */
  overflow: hidden; /* Ensures the border-radius is visible */
  display: block; /* Ensures the image is a block-level element, which can affect border-radius */
}

.productTitle {
  margin-top: 20px;
  font-size: 28px;
  color: #333;
}

.productDescription {
  font-size: 18px;
  color: #666;
  margin: 20px 0;
}

.addToCartButton {
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px; /* Set a fixed width for the button */
}

.addToCartButton:hover {
  background-color: #0056b3;
}
  